// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@bottom-space: 100px;

.qasm-circuit-preview {
  overflow: hidden;
  font-family: monospace;
  white-space: pre-wrap;
}

.qasm-circuit-preview .content {
  overflow: scroll;
  min-height: 100%;
  max-height: 100%;
  padding-bottom: @bottom-space;
  margin-bottom: calc(-1px * @bottom-space+20px);
}

.qasm-circuit-preview .message {
  font-family: monospace;
}

.qasm-circuit-preview img {
  width: 100%;
}

.btn {
  font-family: sans-serif;
  position: relative;
  bottom: 0;
  display: block;
}

.loader {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 25vh;
  margin-left: -40px;
  margin-bottom: -180px;
  margin-top: -40px;
}
.loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
  left: 8px;
  animation: loader1 0.6s infinite;
}
.loader div:nth-child(2) {
  left: 8px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(4) {
  left: 56px;
  animation: loader3 0.6s infinite;
}
@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
